
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<div>
    @ViewBag.Message
</div>

<form action="~/Authentication/Login" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td>
                <input type="text" name="username" />
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="password" name="password" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>
</form>